**Print**
 is
 used
  to
   print
    the
     desired
      message
       on
        a
        device's
        screen

  To print, we can write the statement and then put what we wanna print into (" and close it.
  So to print "Hello World", we would do:

In [ ]:
print ("Hello World!")

Hello World!

**Variables** are containers for storing data values.

**To Create Variables:**

Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.
It will do nothing at first, You need to do something with the value
for it to give any output. In this example we've printed the variables.
Lets see how to do that

In [ ]:
A="Pranav"
B = 2834
print (A)
print (B)

Pranav
2834

Just like the last example, in this example too we are going to print the
variables but, unlike the last example where we printed the whole
variable, in this example we are just going to **print a specific part of the
variable. To do that, we do the same thing but we specify which parts we want
by saying the starting and ending positions.** Let us see what are the positions of each character of "Hi Python!"

**H I  P Y T H O N !**

0 1 2 3 4 5 6 7 8 9

Here, we can see that H has Position 0, I has position 1, <space> has position 2, P has position 3, Y has position 4, T has position 5, H has position 6, O has position 7, N has position 8, ! has position 9.

Lets see how we print specific parts of a variable

In [ ]:
x = "Hello, World"

print (x[2:5])
print (x[:5])#From here we can see that if we don't give a starting position,
             #it auto assigns 0, the first position as the starting
             #position

llo
Hello

Now, lets learn **how to print the variables in all capital, all lower case, without spaces, and how to split and print the variables**.

To do so for the first three things which I said, this is how you do it - You should put . after the variable name and then put **upper for capital, lower for lowercase, and strip for no spaces** then, you should add an extra bracket, close it, and then close the main bracket, and you're done.** To split and print them, the word is split , you need to do the same as all the above three, but, unlike the above three, you need to put the charecter which is the middle and you want to split either side in double quotes inside the extra bracket.

In [ ]:
c=" python, java "
print (c.upper())
print (c.lower())
print (c.strip())
print (c.split(","))

 PYTHON, JAVA
 python, java
python, java
[' python', ' java ']

Now lets see how to merge two words:

In [4]:
CLNA1= "Smart"
CLNA2= "Tech"
CLNA3= "Junior"

CLNA = CLNA1 + " "+ CLNA2 +" " + CLNA3 #Adding " " means adding a <space>

print (CLNA)

Smart Tech Junior

Lets see how to make a variable with another variable like making a Variable with your age

In [18]:
Age=10
Statment="My age is " +str(Age)

print (Statment)

#or you could use the format method, I call pro method

Age=10
Statment= f"My age is "
print (f"My age is {Age}")

My age is 10
My age is 10

Lets see how to **do mathematical operations in sentences**.

Its easy to this, we should simply put the mathematical statement in the line , but before that we close the quotes and start a bracket and after that:

In [26]:
PRICE = f"The price of a iPhone 16 Pro Max is ${30*50}"
print (PRICE)

The price of a iPhone 16 Pro Max is $1500